<component name="ArtifactManager">
  <artifact type="exploded-war" name="SpringDemo5(jdbctemp):war exploded">
    <output-path>$PROJECT_DIR$/out/artifacts/SpringDemo5_jdbctemp__war_exploded</output-path>
    <root id="root">
      <element id="javaee-facet-resources" facet="SpringDemo5(jdbctemp)/web/Web" />
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="SpringDemo5(jdbctemp)" />
        </element>
      </element>
    </root>
  </artifact>
</component>